.notification-wrapper {
    max-width: 900px;
    margin: 40px auto 80px;
    padding: 0 20px;
}

.notification-wrapper h2 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 25px;
    color: #166534;
    border-left: 5px solid #166534;
    padding-left: 12px;
}

/* từng thông báo */
.notification-item {
    background: #f6fffa;
    border-left: 5px solid #166534;
    padding: 16px 20px;
    margin-bottom: 16px;
    border-radius: 6px;
}

/* tiêu đề thông báo */
.notification-item h4 {
    margin: 0 0 6px;
    font-size: 16px;
    font-weight: 600;
    color: red;
}

/* nội dung */
.notification-item p {
    margin: 0 0 6px;
    color: black;
    line-height: 1.6;
}

/* thời gian */
.notification-item small {
    font-size: 13px;
    color:black;
}

/* khi không có thông báo */
.empty {
    text-align: center;
    padding: 50px 20px;
    font-size: 15px;
    color: #166534;
}
